<div class="w-full h-72 relative bg-white" data-component-id="demo-testimonial" data-cms-text="div.-p-elsie-and-team-literally-saved-our-business-during-covid-p-garison-james-ceo-anderson-haircare-2" draggable="true">
  <div data-svg-wrapper="" class="left-[48px] top-0 absolute" draggable="true">
    <svg width="144" height="137" viewBox="0 0 144 137" fill="none" xmlns="http://www.w3.org/2000/svg" draggable="true">
    <path d="M143.1 1.35L139.8 26.25C131.6 25.65 125.4 27.25 121.2 31.05C117 34.85 114.3 40.05 113.1 46.65C111.9 53.25 111.6 60.55 112.2 68.55H143.1V136.35H84.3V59.55C84.3 38.55 89.4 22.75 99.6 12.15C110 1.35 124.5 -2.25 143.1 1.35ZM58.8 1.35L55.5 26.25C47.3 25.65 41.1 27.25 36.9 31.05C32.7 34.85 30 40.05 28.8 46.65C27.6 53.25 27.3 60.55 27.9 68.55H58.8V136.35H0V59.55C0 38.55 5.1 22.75 15.3 12.15C25.7 1.35 40.2 -2.25 58.8 1.35Z" fill="var(--Option-7-brand-10, #2930B9)" fill-opacity="0.1" draggable="true"></path>
    </svg>
  </div>
  <div class="w-[550px] left-[109px] top-[100px] relative inline-flex flex-col justify-start items-start gap-5" data-json-source="featuredposts" draggable="true">
    <div class="pr-6 md:pr-0 max-w-[360px] md:w-full h-14 justify-center text-Option-7-typography-text-primary text-base font-normal font-['Work_Sans'] leading-6 text-wrap" data-cms-text="posts.0.excerpt-2-2" data-server-text="&lt;p&gt;Elsie and team literally saved our business during Covid&lt;/p&gt;
" draggable="true">Elsie and team literally saved our business during Covid</div>
    <div class="h-5 justify-center text-Option-7-typography-text-secondary text-base font-normal font-['Work_Sans'] leading-6" data-cms-text="posts.0.title-2-2" data-server-text="Garison James,  CEO Anderson Haircare" draggable="true">Garison James,  CEO Anderson Haircare!</div>
  </div>
</div>