<div class="credential-item slide-right is-visible" style="transform: translateY(0px);" contenteditable="true" data-component-id="floating-card" data-cms-text="div.20-years-dedicated-patient-care">
              <div class="credential-icon">
                <i class="fas fa-clock"></i>
              </div>
              <h4 class="credential-title" contenteditable="true" data-cms-text="h4.20-years">22+ Years</h4>
              <p class="credential-desc" contenteditable="false">Dedicated Patient Care</p>
            </div>