<div class="absolute inset-0 bg-gradient-to-br from-white/10 via-transparent to-black/10" style="background-size: cover; background-image: url(&quot;/images/bottles-1766476372367.png&quot;);" data-component-id="hero-image" data-cms-bg="auto.div-2" draggable="true">Hello World
            
                
                
                    
                

                
                
                    
                        Home
                        About Us
                        News
                        Our Services
                        Contact Us
                    
                
                
                    
                

                
                
                    
                    
                    
                
            

            
            
                
                    
                        
                        
                        
                    
                
                
                
                    Home
                    About Us
                    News
                    Our Services
                    Contact Us
                    
                    
                        
                    
                
            

            
            
        </div>