<div class="grid grid-cols-1 max-w-4xl gap-4 mx-auto p-4 my-4" data-component-id="performance" data-cms-text="div.performance-that-speaks-data-driven-insights-delivering-measurable-impact-across-every-engagement-95-client-retention-long-term-partnerships-built-on-trust-and-results-2-4b-revenue-impact-generated-for-clients-across-retail-and-brand-sectors" draggable="true">
  
            <div class="text-center gap-2 flex flex-col" draggable="true">
                <div class="text-2xl md:text-3xl font-bold tracking-tight text-white" draggable="true">
                Performance That Speaks
                </div>
                <div class="text-base max-w-2xl mx-auto text-white" data-cms-text="div.data-driven-insights-delivering-measurable-impact-across-every-engagement" style="color: rgb(182, 170, 170);" draggable="true">
                Data-driven insights delivering measurable impact across every engagement
                </div>
            </div>
            

  
        <div class="grid gap-8" draggable="true">
            <div class="rounded-xl p-4 shadow-lg border border-gray-800 flex flex-col gap-2" style="background-color: rgb(31, 31, 31);" draggable="true">
                <div class="text-4xl font-bold text-red-500" style="color: rgb(187, 65, 52);" data-cms-text="div.95-" draggable="true">30+</div>
                <h3 class="text-base font-semibold text-white" data-cms-text="h3.client-retention-2" draggable="true">Retailers / Distributors</h3>
                <div class="text-gray-600 text-sm" data-cms-text="div.long-term-partnerships-built-on-trust-and-results-2" draggable="true"></div>
            </div>
            <div class="rounded-xl p-4 shadow-lg border border-gray-800 flex flex-col gap-2" style="background-color: rgb(31, 31, 31);" draggable="true">
                 <h3 class="text-base font-semibold text-white" data-cms-text="h3.client-retention" draggable="true">Trusted with over</h3>
                <div class="text-4xl font-bold text-red-500" style="color: rgb(187, 65, 52);" data-cms-text="div.2-4b" draggable="true">100,000</div>
                <h3 class="text-base font-semibold text-white" data-cms-text="h3.client-retention" draggable="true">SKU’s and counting</h3>
                <div class="text-gray-600 text-sm" data-cms-text="div.long-term-partnerships-built-on-trust-and-results" draggable="true"></div>
            </div>

    
          
        </div>
</div>