<div class="flex-[1.4] min-w-[400px] bg-white p-8 flex items-center justify-center" contenteditable="true" data-component-id="stats" data-cms-text="div.30-years-guiding-brands-with-integrity-100-brands-managed-in-2026-82-average-sell-through-as-of-nov-2025-">
                <div class="w-full grid grid-cols-1 lg:grid-cols-3 gap-8 justify-items-center" data-clear-existing="" contenteditable="false">
                    
                    <div data-json-source="stats" data-template-item="" class="flex flex-col items-center gap-5 max-w-[300px]">
                        
                        <div class="flex flex-col items-center gap-4 max-w-[300px]" contenteditable="false">
                        <div id="counter3" class="text-[#F4483A] text-7xl md:text-8xl font-medium font-oswald text-center" contenteditable="false" style="color: rgb(244, 73, 59);" data-cms-text="title">30+</div>
                        <div class="text-[#F4483A] text-xl md:text-2xl font-normal font-inter text-center" data-cms-text="subtitle" contenteditable="false">
                            Years Guiding Brands With Integrity
                        </div>
                    </div>
                    </div><div class="flex flex-col items-center gap-4 max-w-[300px]">
                        <div id="counter2" class="text-[#F4483A] text-7xl md:text-8xl font-medium font-oswald text-center" contenteditable="false" style="color: rgb(250, 44, 55);" data-cms-text="div.100-">100+</div><div class="text-[#F4483A] text-xl md:text-2xl font-normal font-inter text-center" contenteditable="false">
                            Brands Managed in 2026
                        </div>
                        
                    </div>
                    <div class="flex flex-col items-center gap-4 max-w-[300px]">
                          
                    <div id="counter1" class="text-[#F4483A] text-7xl md:text-8xl font-medium font-oswald text-center" contenteditable="false" style="color: rgb(250, 44, 55);" data-cms-text="div.82-">82%</div><div class="text-[#F4483A] text-xl md:text-2xl font-normal font-inter text-center cms-dragging" contenteditable="false">
                            Average sell-through (as of Nov 2025)
                        </div>
                        </div>
                    
                    
                    
                    
                    
                    
                </div>
            </div>